html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	font-family: 'Noto Sans KR', sans-serif, '맑은 고딕';
	font-weight: 400;
	line-height: 1.25;
}

.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
	
}
.align-center {
	text-align: center;
}

/* Pagination */
.pagination {
	width: 800px;
	margin: 10px auto;
	text-align: center;
}
.pagination a,
.pagination strong {
	display: inline-block;
	min-width: 30px;
	padding: 5px;
	border: 1px solid #ccc;
	
}
.pagination a:hover,
.pagination strong {
	background-color: #222;
	color: #fff;
	border: 1px solid #222;
}

/* Button */
.button-area {
	width: 800px;
	margin: 0 auto 20px;
	text-align: right;
}

.button {
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid #000;
}

/*  Board Search Box */
.board-search-box {
	width: 800px;
	margin: 0 auto 20px;
}

/* prev-next-article */
.prev-next-article {
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}
.prev-next-article li {
	padding-top: 20px;
	padding-bottom: 20px;
}
.prev-next-article li:first-child {
	border-bottom: 1px solid #ccc;
}
.prev-next-article li .sort {

	font-weight: 600;
}
.prev-next-article li .title {
	display: inline-block;
	width:calc(100% - 200px);
}
.prev-next-article li .title::before {
	content: "|";
	padding-right: 10px;
	font-size: 1.4rem;
	color: #ccc;
}
.prev-next-article li .date {
	float: right;
}