/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.clear::after {
  content: '';
  display: block;
  clear: both;
}

body {
  font-size: 2rem;
}
body * {
  background-color: rgba(000, 000, 000, 0.2);
}

.wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding-top: 20px;
}

header > * {
  float: left;
}

.logo a {
  display: inline-block;
  padding: 10px 20px;
  color: #000;
  text-align: center;
}

.navigation li {
  float: left;
  display: inline-block;
}

.navigation li a {
  display: inline-block;
  padding: 10px 20px;
  color: #000;
  text-align: center;
}

.main-banner {
  max-width: 1000px;
  min-height: 500px;
  background: #000;
}

.contents-section {
  padding: 20px;
}
.contents-section article {
  float: left;
  width: 220px;
  height: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* .contents-section article:nth-child(3n+1) {
  clear: both;
  margin-right: 0;
} */

footer {
  min-height: 200px;
}