/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
}

/* html, body */
html {
	font-size: 10px;
}

body {
	font-size: 2rem;
	text-align: center;
	background-color: rgba(10, 14, 212, 0.1);
}
body * {
	padding: 20px;
	background-color: rgba(10, 14, 212, 0.2);
	/* border: 3px solid #000; */
}
canvas, h1, h2, h3, h4 {
	padding: 0;
	background-color: transparent;
	border: none;
}
/* .wrapper */
.wrapper {
	min-width: 1000px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
/* header */
header {
	position: relative;
	min-height: 100px;
}

/* nav */
nav {
	min-height: 100px;
}

/* main */
main {

}
.clear::after {
	content: "";
	display: block;
	clear: both;
}
aside {
	float: left;
	min-width: 200px;
	min-height: 500px;
}
.contents-section {
	position: relative;
	margin-left: 220px;
	min-height: 500px;
}
.contents-section header {
	min-height: 200px;
	margin-bottom: 20px;
}
.contents-section article {
	min-height: 200px;
}

/* footer */
footer {
	min-height: 200px;
	border: none;
	background-color: transparent;
}