html {
	font-size: 10px;
}

body {
	font-size: 1.4rem;
	font-family: 'Noto Sans KR', sans-serif, '맑은 고딕';
	font-weight: 400;
	line-height: 1.25;
	letter-spacing: -0.05em;
}

button, .button {
	line-height: 1;
}

/* Contents Wrapper */
.navigation {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: #222;
}

/* Navigation */
nav {
	
}

.gnb {
	
}

.gnb::after {
	content: '';
	display: block;
	clear: both;
}


/* Depth 1 */
.gnb .depth1 {
	position: relative;
	float: left;
	width: calc(100% / 5);
	text-align: center;
}

.gnb .depth1:hover {
	
}
.gnb .depth1 > a {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	border-bottom: 2px solid transparent;
	transition: all ease .4s;
	-webkit-transition: all ease .4s;
	-moz-transition: all ease .4s;
	-ms-transition: all ease .4s;
	-o-transition: all ease .4s;
}

.gnb .depth1.on > a {
	
}

.gnb .depth1:hover > a {
	border-bottom-color: #fff;
}

/* Depth 2 */
.gnb .depth2 {
	position: absolute;
	/* display: none; */
	width: 100%;
	background-color: #999;
	text-align: center;
	
	/*Effect*/
	overflow: hidden;
	height: 0;
	transition: all ease .6s;
	-webkit-transition: all ease .6s;
	-moz-transition: all ease .6s;
	-ms-transition: all ease .6s;
	-o-transition: all ease .6s;
}

.gnb .depth2 > li {
	
}
.gnb .depth2 > li a {
	display: inline-block;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
	color: #fff;
	border-bottom: 2px solid transparent;
	
}
.gnb .depth1:hover .depth2 {
	display: block;
	height: 200px;
	background-color: #444;
}
.gnb .depth1:hover .depth2 > li a {

}

.gnb .depth2 > li > a:hover {
	border-bottom-color: #fff;
}

/* Navigation Vertical Style */
.navigation.vertical-nav {
}
.navigation.vertical-nav .gnb {
	width: 200px;
	background-color: #222;
}


.navigation.vertical-nav .gnb .depth1 {
	position: static;
	float: none;
	width: 100%;
}

.navigation.vertical-nav .gnb .depth2 {
	display: none;
	top: 0;
	left: -1000px;
	width: 200px;
	height: 200px;
}
.navigation.vertical-nav {
	background-color: #fff;
}

.navigation.vertical-nav .gnb .depth1:hover .depth2 {
	display: block;
	top: 0;
	left: 200px;
}



/* Pop Up */

/* button */
.btn-pop-up {
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	background-color: skyblue;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}


.pop-up-wrap {
	/* display: none; */
	position: fixed;
	top: 50%;
	left: 50%;
	/* bottom: 0; */
	/* right: 50%; */
	z-index: 10;
	width: 0;
	height: 0;
	background-color: rgba(000, 000, 000, .8);
	overflow: hidden;
	transition: all ease .4s;
	-webkit-transition: all ease .4s;
	-moz-transition: all ease .4s;
	-ms-transition: all ease .4s;
	-o-transition: all ease .4s;
	
}

.pop-up-wrap:target {
	/*display: block;*/
	width: 100%;
	height: 100%;
}

.pop-up-contents {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	padding: 50px;
	border: 1px solid #eee;
	background-color: #fff;
	box-shadow: 0px 10px 20px rgba(000, 000, 000, .4);
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

.pop-up-header {

}

.pop-up-main {

}

.pop-up-main table {
	max-width: 500px;
}

.pop-up-main table th, td {
	text-align: center;
	padding: 10px;
	border: 1px solid #ccc;
}

.pop-up-footer {

}

