html {
	font-size: 10px;
}

body {
	font-size: 1.4rem;
	font-family: 'Noto Sans KR', sans-serif, '맑은 고딕';
	font-weight: 400;
	line-height: 1.25;
	letter-spacing: -0.05em;
}

button, .button {
	line-height: 1;
}

/* Header */
.utility-menu {
	text-transform: uppercase;
}